.row-container {
    position: relative;
  }
  
  .container01 {
    flex: 1;
    border: 1px solid rgb(190, 182, 182);
    padding: 10px;
    margin: 10px;
    height: 20vh;
    width: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .container02 {
    flex: 1;
    border: 1px solid rgb(34, 32, 32);
    padding: 10px;
    height: 50vh;
    width: 80vh;
    margin-right: 100px;
    margin-top: 10px;
    background-color: brown;
    position: relative;
    /* min-height: 50px; */
    left: 100vh;
    top:-23vh;

  }