body{
    background-image: linear-gradient(to right, rgb(56, 57, 57) , rgb(22, 23, 78));

}
.he_1{
  font-size: 80px;
  align-items: center;  
  justify-content: center;
  display: flex;
  background: -webkit-linear-gradient(#ee0404, #fbf7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.cont_1{
    position: relative;
    background-image: linear-gradient(to right, rgb(52, 60, 64) , rgb(0, 1, 74));
    align-items: center;
    justify-content: center;   
    /* display: inline-flex; */
    border-radius: 4px;
    margin: auto;
    width:50vh;
    height: 40vh;
    padding: 7px 0;
    top: -2vh;
    height: 60vh;



    
}

.cont_2{
    flex-direction: column;
    align-content: center;
    justify-content: center; 
    text-align: center;
    background-image: linear-gradient(to right, rgb(60, 52, 61) , rgb(8, 11, 61));
    line-height: 50px;
    height: fit-content;
    border: none;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    width: 40vh;
    display: inline-block;
    vertical-align: middle;
    border: 5px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    /* position: absolute;
    top: 50%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%);
    padding: 10px; */ 

}
.lb_1{
    display: flex;
    flex-direction: column;
    float: left;
    top: 20px;
position: relative;
color: rgb(255, 255, 255);
    

}

.ib_1{
    border: none;
    border-radius: 15px;
    width:38vh;
    line-height: 30px;

}
.ib_2{
    border: none;
    border-radius: 15px;
    width:38vh;
    line-height: 30px;
    

}
.lb_2{
    display: flex;
    flex-direction: column;
    float: left;
    top: 20px;
position: relative;
color: rgb(255, 255, 255);

    

}
.btn_1{
font-size: 20px;
font-weight: bold;
position: relative;
border-radius: 30px;
border-color: black;
width: 20vh;
color: white;
background-color: black;
box-shadow: 0px 0px 2px 2px rgb(0,0,0);
cursor: pointer;


}
.btn_1:hover{
    color: rgb(255, 0, 0);
}

.btn_2{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 30px;
    border-color: black;
    width: 20vh;
    color: white;
    background-color: black;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    text-decoration: none;
    top: -10px;
    cursor: pointer;
}
.btn_2:hover{
    color: red;
}